/*********************************
4. Main Slider
*********************************/

.home {
    overflow: hidden;
}

.hero_slider_container {
    width: 100%;
    height: 500px;
    margin-top: 110px;
    margin-bottom: 110px;
}

.main_slider_shapes {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 16%;
    max-width: 25%;
    height: auto;
    z-index: 2;
}

.main_slider_item_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.main_slider_content {
    width: 610px;
    height: 100%;
    margin-top: 100px;
}

.main_slider_content h1 {
    font-weight: 300;
    line-height: 1.15;
    color: #2980b9;
}

.main_slider_content h1 span {
    font-family: 'Myriad Pro Regular', sans-serif;
}

.main_slider_content p {
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    padding-left: 5px;
    margin-top: 1px;
}

.discover_button {
    margin-top: 42px;
    margin-left: 5px;
}


/*********************************
4.1 Main Slider Dots
*********************************/

.main_slider_dots {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 74px;
    width: 100%;
    z-index: 11;
}

.main_slider_custom_dots li {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    line-height: 74px;
    color: #FFFFFF;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    margin-right: -4px;
}

.main_slider_custom_dots li.active {
    background: #2980b9;
}

.main_slider_custom_dot.active,
.main_slider_custom_dot:hover {
    background: #2980b9;
}


/*********************************
4.2 Main Slider Nav
*********************************/

.main_slider_nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 11;
    padding: 10px;
    cursor: pointer;
}

.main_slider_nav_left {
    left: 39px;
}

.main_slider_nav_right {
    right: 39px;
}

.main_slider_nav i {
    color: #FFFFFF;
    font-size: 18px;
}

.main_slider_nav:hover i {
    color: #2980b9;
}


/*********************************
5. Home Social
*********************************/

.home_social_container {
    position: absolute;
    top: 110px;
    right: 0px;
    width: auto;
    height: 74px;
    background: #2980b9;
    z-index: 11;
    padding-right: 38px;
    padding-left: 45px;
}

.home_social li {
    display: inline-block;
    margin-left: 10px;
}

.home_social li a {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.home_social li i {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
}

.home_social li:hover i {
    color: rgba(255, 255, 255, 1);
}